<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/stylesheets/contacts.css">
</head>
<body>
    <main>
        <h1>Contacts</h1>
        <ol>
            <li>Persona 1</li>
            <li>Persona 2</li>
            <li>Persona 3</li>
            <li>Persona 4</li>
            <li>Persona 5</li>
        </ol>
    </main>
</body>
</html>